//
//  Config.xcconfig
//  SantaManito-iOS
//
//  Created by 장석우 on 10/10/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = https:/$()/www.santamanitto.com
AMPLITUDE_API_KEY_DEBUG = d1958ec54f002829e26ff1d64fa74d1a
AMPLITUDE_API_KEY_PROD = 0a9210cae6765750399f26767e94f763
GAD_APPLICATION_IDENTIFIER = ca-app-pub-2509952342240701~9725364085
HOME_BANNER_AD_UNIT_ID = ca-app-pub-2509952342240701/3062008493
